@import 'fonts.css';
html {
    background-color: #fff;
}
body {
    font: Raleway;
    padding: 0;
    margin: 0;
}
h6 {
    padding: 0;
    margin: 0;
}
.active {
    background-color: #ec3b29;
}
.company-logo {
    text-align: center;
}

/* The left-collapsing sidebar */

.mv-select-label {
    width: 50%;
    color: #95989A;
    font-size: 10px;
    padding: 10px 15px;
    font-weight: normal;
    background: black;
    letter-spacing: 1px;
}
.mv-select-dropdown {
    width: 50%;
    padding: 9px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    outline: none;
    color: black;
    font-family: Raleway;
}
.mv-select-dropdown > option {
    border: none;
    padding: 10px;
    font-size: 13px;
}
.sidebar-left-collapse::-webkit-scrollbar {
    width: 10px !important;
    background-color: #C9C9C9;
}
.sidebar-left-collapse::-webkit-scrollbar-thumb {
    /*    box-shadow: inset 0 0 15px black;*/
    background-color: #000000;
}
.sidebar-left-collapse {
    font-family: Raleway;
    position: fixed;
    top: 155px;
    left: 0;
    background-color: #575757;
    width: 20%;
    height: 75%;
    overflow-y: auto;
    padding: 0px 0 50px 0;
}
.sidebar-left-collapse .sidebar-links {
    margin: 30px auto;
}
ul.sub-links {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}
ul.sub-links > li {
    background: #242424;
    padding: 6px 0;
    border-bottom: 1px solid #575757;
}
ul.sub-links > li:hover {
    background: #0046a2;
    cursor: pointer;
}
.active {
    background: #344b63 !important;
}
.active > a {
    color: #eaeaea !important;
}
ul.sub-links > li > a {
    color: #95989A;
    outline: none;
    text-decoration: none;
    padding: 7px 15px;
}
