@import 'fonts.css';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%
}
.mvl-main {
    box-sizing: border-box;
}
.mvl-sec1,
.mvl-sec2 {
    width: 30%;
    float: left;
    height: 100%;
}
.mvl-sec1 {
    width: 100%;
    cursor: pointer;
    background-image: url(../image/mvisa.svg);
    background-position: center;
    background-size: cover;
}
.mvl-sec2 {
    display: none;
    height: 100%;
    background-color: #575757;
}
.mvl-secmain {
    display: table-cell;
    vertical-align: middle;
}
.mvl-form {
    margin: 0 auto;
    text-align: center;
}
.mvl-banklogo {}
.mvl-banktext {
    padding: 25px 0;
    margin: 0;
    font-family: Raleway;
    color: white;
    font-weight: 300;
}
.mvl-banktext > .mvl-text1 {
    letter-spacing: 4px;
    font-size: 15px;
}
.mvl-banktext > .mvl-text2 {
    font-size: 11px;
    letter-spacing: 1px;
}
.mvl-username,
.mvl-password {
    font-family: Raleway;
}
.mvl-username > .mvl-usernamelbl,
.mvl-password > .mvl-passwordlbl {
    font-size: 12px;
    padding: 5px 0 2px 0;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}
.mvl-username > input[type=text],
.mvl-password > input[type=password] {
    font-family: Raleway;
    font-weight: 600;
    text-align: center;
    border: 0px solid;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    margin: 2px;
    padding: 0 12px;
}
.mvl-password > input[type=password] {
    font-size: 40px;
    margin-bottom: 12px;
    letter-spacing: -4px;
}
.mvl-loginbut > button.btn {
    font-family: Raleway;
    border: 1px solid white;
    height: 30px;
    width: 90px;
    background-color: #3B76FF;
    border-radius: 20px;
    margin: 10px;
    outline: none;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    transition: 1s;
    padding-left: 20px;
}
.mvl-loginbut > button.btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid white;
    padding-left: 6px;
}
.mvl-loginbut > button.btn:active {
    color: black;
}
.mvl-message {
    font-family: Raleway;
    font-size: 12px;
    padding: 15px;
    color: black;
    letter-spacing: 1px;
}
.mvl-footer1 {
    bottom: 0;
    position: absolute;
    right: 45%;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 22px 0;
}
.mvl-footer2 {
    bottom: 0;
    position: absolute;
    right: 41.6%;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 7px 0;
    color: #3b76ff;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}
body {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 11px !important;
    background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 15px black;
    background-color: #2c3e50;
}

@media only screen and (max-width: 550px) {

}


@media only screen and (min-width: 320px) and (max-width: 479px){
 
}

@media only screen and (min-width: 480px) and (max-width: 950px){ 



}

@media only screen and (min-width: 950px) and (max-width: 1100px){ 

}


@media only screen and (min-width: 1100px) and (max-width: 1150px){ 

}



@media only screen and (min-width: 1150px) and (max-width: 1200px){ 


}

@media only screen and (min-width: 1200px) and (max-width: 1500px){ 


}


@media only screen and (min-width: 1500px) and (max-width: 1999px){ 


}