@import 'fonts.css';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%
}
.mvl-main {
    box-sizing: border-box;
}
.mvl-sec1,
.mvl-sec2 {
    width: 30%;
    float: left;
    height: 100%;
}
.mvl-sec1 {
    width: 100%;
    cursor: pointer;
    background-image: url(../image/mvisa.svg);
    background-position: center;
    background-size: cover;
}
.mvl-sec2 {
    display: none;
    height: 100%;
    background-color: #575757;
}
.mvl-secmain {
    display: table-cell;
    vertical-align: middle;
}
.mvl-form {
    margin: 0 auto;
    text-align: center;
}
.mvl-banklogo {}
.mvl-banktext {
    padding: 25px 0;
    margin: 0;
    font-family: Raleway;
    color: white;
    font-weight: 300;
}
.mvl-banktext > .mvl-text1 {
    letter-spacing: 4px;
    font-size: 15px;
}
.mvl-banktext > .mvl-text2 {
    font-size: 11px;
    letter-spacing: 1px;
}
.mvl-username,
.mvl-password {
    font-family: Raleway;
}
.mvl-username > .mvl-usernamelbl,
.mvl-password > .mvl-passwordlbl {
    font-size: 12px;
    padding: 5px 0 2px 0;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}
.mvl-username > input[type=text],
.mvl-password > input[type=password] {
    font-family: Raleway;
    font-weight: 600;
    text-align: center;
    border: 0px solid;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    margin: 2px;
    padding: 0 12px;
}
.mvl-password > input[type=password] {
    font-size: 40px;
    margin-bottom: 12px;
    letter-spacing: -4px;
}
.mvl-loginbut > button.btn {
    font-family: Raleway;
    border: 1px solid white;
    height: 30px;
    width: 90px;
    background-color: #3B76FF;
    border-radius: 20px;
    margin: 10px;
    outline: none;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    transition: 1s;
    padding-left: 20px;
}
.mvl-loginbut > button.btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid white;
    padding-left: 6px;
}
.mvl-loginbut > button.btn:active {
    color: black;
}
.mvl-message {
    font-family: Raleway;
    font-size: 12px;
    padding: 15px;
    color: black;
    letter-spacing: 1px;
}
.mvl-footer1 {
    bottom: 0;
    position: absolute;
    right: 45%;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 22px 0;
}
.mvl-footer1-m {
    bottom: 20;
    position: fixed;
    left: 0;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
    width: 100%;

}
.mvl-footer2 {
    bottom: 0;
    position: absolute;
    right: 41.6%;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 7px 0;
    color: #3b76ff;
}

.mvl-footer2-m {
    bottom: 0;
    position: fixed;
    left: 0;
    width:100%;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 7px 0;
    color: #3b76ff;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}
body {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 11px !important;
    background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 15px black;
    background-color: #2c3e50;
}
.mv-background {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.mv-header {
    width: 80%;
    right: 0;
    height: 25px;
    background-color: #575757;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    transition: 0.3s;
    z-index: 10;
}
.mv-fixed-header {
    position: fixed;
    top: 0;
}
.mv-header-text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 800;
}
.mv-header-text-small {
    font-family: Raleway;
    font-size: 15px;
    font-weight: 800;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.mv-header-logo {}
.mv-header-margin {
    margin: 4px 1px;
    padding: 4px 3px;
}
.mv-header .mv-header-divider {
    float: left;
    color: #E91E63;
    font-weight: bold;
}
.mv-header-logout,
.mv-header-passchange {
    background: #2f2f2f;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    transition: 0.3s;
}
.mv-header-logout:hover,
.mv-header-passchange:hover {
    background: #0046a2;
}
.mv-header-logout > a,
.mv-header-passchange >a {
    color: white;
    text-decoration: none;
}

/*navbar*/

.mv-navbar {
    position: fixed;
    word-break: break-all;
    top: 30px;
    height: auto;
    background-color: white;
    z-index: 9;
}
.mv-navbar-menu {
    transform: rotate(270deg);
    position: fixed;
    left: 300px;
    top: 86px;
    font-size: 12px;
    background: #8BC34A;
    padding: 0px 9px;
    color: #ffffff;
    z-index: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -5px 0px 0px 0px #009688;
}
.mv-click-home {
    cursor: pointer;
}

/*body*/

.mv-body {
    width: 80%;
    margin-top: 30px;
    background-color: white;
    height: auto;
    padding: 0px;
    padding-left: 0px;
    margin-left: 20%;
}
.mv-table {
    /*background-color: #eeeeee;*/
    padding: 5px 10px 30px 15px;
    margin-top: 20px;
}
.mv-body > .mv-form,
.mv-body > .mv-other {
    padding: 20px;
    margin-top: 20px;
    background-color: #EBEBEB;
    box-shadow: 0 3px 4px 0px #d8d8d8de;
}
.mv-breadcrumb {
    position: fixed;
    left: 20%;
    font-size: 12px;
    background: #0046A2;
    padding: 5px 15px;
    height: 25px;
    color: #ffffff;
    z-index: 10;
    font-family: Raleway;
    font-size: 11px;
}
.mv-mandatory-field {
    font-family: Raleway;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: white;
    margin: 0 0px 0 -20px;
    padding: 2px 0 2px 20px;
}
.mv-mandatory-field > span {
    font-family: cursive;
    color: red;
}
.mv-margin {
    margin: 10px 0;
}

/*modal*/

.mv-modal-body {
    width: 100%;
    background-color: #efefef;
    height: auto;
    margin-top: 8px;
}
.mv-modal {
    padding: 10px;
    /*border: 1px solid rgba(63, 81, 181, 0.52);*/
}

/*colors*/

.color1 > span {
    color: white;
    transition: 0.5s;
}
.color1 > span > span {
    color: darkgray;
    transition: 0.5s;
}
.color2 > span {
    color: #03A9F4;
    transition: 0.5s;
}
.color2 > span > span {
    color: darkgray;
    transition: 0.5s;
}

/*tootltip*/

.mv-tooltip {
    position: relative;
    display: inline-block;
    font-family: Raleway;
    font-size: 11px;
    font-weight: normal;
}
.mv-tooltip .mv-tooltiptext {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 2px 4px;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 2px 1px 0px rgba(95, 95, 95, 0.4);
}
.mv-tooltip .mv-tooltiptext-home {
    left: 100px;
    top: 100%;
    width: auto;
}
.mv-tooltip .mv-tooltiptext-logout {
    left: 55px;
    top: 42px;
    width: auto;
}
.mv-tooltip .mv-tooltiptext-cpass {
    left: 22px;
    width: 110px;
    top: 42px;
}
.mv-tooltip .mv-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
.mv-tooltip:hover .mv-tooltiptext {
    opacity: 1;
}
.mv-Horizonline {
    width: 96%;
    height: 1px;
    background-color: #404040;
    padding: 0px;
    margin: 10px 0 5px 10px;
}
.mv-topdetail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 20%;
    padding: 20px 0 5px 0;
    background-color: #575757;
}
.mv-homedetail > .logo {
    float: left;
    background: white;
    border-top-right-radius: 17px;
    padding: 0 9px 0px 6px;
    border-bottom-right-radius: 17px;
    box-shadow: 0px 2px 3px 1px #0404045e;
}
.mv-homedetail > .text1 {
    font-size: 14px;
    font-weight: 400;
    color: #ababab;
    text-align: right;
    padding-right: 10px;
    letter-spacing: 1px;
}
.mv-homedetail > .text2 {
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}
.mv-logindetail {
    padding: 10px 0
}
.mv-logindetail > .welcome,
.mv-logindetail > .role,
.mv-logindetail > .time {
    font-weight: 400;
    font-size: 11px;
    color: #969696;
    text-align: right;
    padding: 2px 10px;
}
.mv-logindetail > .role {}
.mv-logindetail > .time {}
.mv-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 20%;
    padding: 5px 0;
    background-color: #575757;
    font-family: Raleway;
    color: #bbbbbb;
}
.mv-footer > .text1 {
    text-align: right;
    font-size: 10px;
    padding: 2px 8px 0 0;
}
.mv-footer > .text2 {
    text-align: right;
    font-size: 10px;
    padding: 2px 8px 0 0;
}

.dtable-header{
    margin-left:1%;
    margin-right: 1%;
    font-size: 8pt;
    padding: 4px
}
.dtable-footer{
    text-align: center;
    background-color: #c5c5c5;
    margin-left:1%;
    margin-right: 1%;
    font-size: 7pt 
}
.dtable{
    font-size:8pt;
    font-weight: normal;
}
.dthead{
    font-weight: normal;
    background-color: #575757;
    color: white;
}

.a{
    background-color: red;
}

#showbtn{
    background-color: gray;
    width: 40px;
    height: 25px;
    float:left;
}
#hidebtn{
    background-color: gray;
    width: 40px;
    height: 25px;
    float:right;
}